@Include("HorizontalDivider")

<div class="horizontal-divider-whitespace">&nbsp;</div>

<table class="table-mail-header" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="text-align: center;">
                @*<img alt="SD Worx" class="mail-sdworx-logo" src="http://go.sdworx.com/l/237972/2016-10-21/5zy/237972/1358/logo.png">*@
                <span class="blurrable">
                    <img alt="SD Worx" class="mail-sdworx-logo" src="cid:logo_sdworx" height="40" />
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="horizontal-divider-whitespace">&nbsp;</div>