@using SDWORX.Framework.Extensions
@model string

@{
    var faqText = "You can find answers to common questions at our ";
    var faqUrl = @"https://auth.sdworx.com/cia/identitystore.support.pages/main/{0}/Faq/";

    var language = (Model ?? "en").ToLowerInvariant();
    faqUrl = faqUrl.FormatWith(language);

    if (language == "nl")
    {
        faqText = "Je vindt het antwoord op de meest voorkomende vragen in onze ";
    }
    if (language == "fr")
    {
        faqText = "Vous trouverez des réponses aux questions courantes dans notre ";
    }
    if (language == "de")
    {
        faqText = "Antworten auf häufig gestellte Fragen finden Sie in unseren ";
    }
}

@Include("HorizontalDivider")

<div class="horizontal-divider-whitespace-footer">&nbsp;</div>

<table class="table-mail-footer-content" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p>
                    <span>@faqText</span>
                    <a class="faq-link" href="@faqUrl" target="_blank">FAQ</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>

