<table class="table-mail-horizontal-divider" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="yellow">&nbsp;</td>
        <td class="red">&nbsp;</td>
        <td class="purple">&nbsp;</td>
    </tr>
    </tbody>
</table>