@using RazorEngine.Mailing.Library.Models

@inherits RazorEngineCore.RazorEngineTemplateBase<RazorEngine.Mailing.Library.Models.DateOfBirthCorrectedViewModel>

@{
    Layout = "layout";
}



<!-- Header -->
<table align="center" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p class="mail-title">La date de naissance sur votre compte a été modifiée</p>
            </td>
        </tr>
    </tbody>
</table>
<p>Chère/Cher <span class="blurrable">@Model.MailInfo.Firstname @Model.MailInfo.Lastname</span>,</p>

<p>Après vérification de l'exactitude de nos données, nous avons constaté que la date de naissance que vous aviez renseignée sur votre compte SD Worx n'était probablement pas correcte. Par conséquent, nous l'avons automatiquement adaptée sur la base des informations de votre employeur. Nous utilisons en effet votre date de naissance pour pouvoir effectuer un contrôle supplémentaire de votre identité. Il est donc important qu'elle soit exacte. En outre, la loi impose également à SD Worx de maintenir vos données correctes et à jour.</p>

<p>Votre date de naissance est à présent fixée au <span class="blurrable">@Model.NewDateOfBirth</span>.</p>

<p>Vous pouvez, par ailleurs, consulter et modifier à tout moment les données de votre compte SD Worx dans <a href="@Model.PortalProfileUrl" target="_blank">Mon compte</a>.</p>

<p>Si vous pensez que cette modification n'est pas correcte, prenez contact avec votre employeur.</p>

