<div class="border-secondary">
    They provided us the following information:

    <table class="table-mail-form">
        <tbody>
            <tr>
                <td class="first">First name:</td>
                <td><span class="blurrable">@Model.MailInfo.Firstname</span></td>
            </tr>
            <tr>
                <td class="first">Last name:</td>
                <td><span class="blurrable">@Model.MailInfo.Lastname</span></td>
            </tr>
        </tbody>
    </table>

    Information incorrect? Do not accept this invitation and contact your employer.
</div>