@inherits RazorEngineCore.RazorEngineTemplateBase<RazorEngineConsole.Models.MailModel>

@{
    Layout = "layout";
}

All the text must come here.  Please include template in this portion.....

<h1>@Model.ApplicationScope</h1>