@using RazorEngine.Mailing.Library.Models

@inherits RazorEngineCore.RazorEngineTemplateBase<RazorEngine.Mailing.Library.Models.VerifyAccountViewModel>

@{
    Layout = "layout";
}



<!-- Header -->
<table align="center" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <p class="mail-title">Bevestig je e-mailadres</p>
            </td>
        </tr>
    </tbody>
</table>

<div class="horizontal-divider-whitespace">&nbsp;</div>

<!-- Salutation -->
<p>Beste <span class="blurrable">@Model.MailInfo.Firstname @Model.MailInfo.Lastname</span>,</p>

<!-- Action -->
<p>
    Bedankt voor het gebruik van SD Worx. U ontvangt deze e-mail omdat we willen controleren of u toegang hebt tot dit e-mailadres.
    Gebruik de volgende verificatiecode om de geldigheid van uw e-mailadres te bevestigen en door te gaan met de wijzigingen aan uw SD Worx-account.
</p>

<table class="table-verification-code" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="text-align: center">
                <span class="verification-code">
                    <span class="blurrable">@Model.VerificationCode</span><br />
                </span>
            </td>
        </tr>
    </tbody>
</table>
<br />

<p>
    <b>Deze verificatiecode is slechts voor beperkte tijd geldig en kan maar één keer gebruikt worden. </b>
    Als u niet heeft gevraagd om een SD Worx-account te wijzigen, is het waarschijnlijk dat een andere gebruiker per ongeluk uw e-mailadres heeft ingevoerd.
    In dit geval kunt u dit bericht gewoon negeren en wordt er geen account gewijzigd.
</p>
