@inherits RazorEngineCore.RazorEngineTemplateBase<RazorEngineConsole.Models.TestModel>

Default template (NL)

Hello @Model.Name 

<div data-name="" @Model.Name ""></div>

<area>
@{ RecursionTest(3); }
</area>

@{
    void RecursionTest(int level)
    {
        if (level <= 0)
        {
            return;
        }

        <div>LEVEL: @level</div>
        @{ RecursionTest(level - 1); }
    }
}";